:root {
  --mainText: #fff;
  --secondText: #c1c3c8;
  --mainBg: #17181c;
  --secondBg: #24292e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--mainText);
  background-color: var(--mainBg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* start global */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: clamp(1px, 80%, 1200px);
  margin: auto;
}
/* end global */

/* start products */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 7px 7px;
  grid-auto-flow: row;
  grid-template-areas: ". . . . .";
}
.product {
  background: var(--secondBg);
  color: var(--secondText);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem;
  h2 {
    font-weight: 500;
  }
  p {
    font-weight: 500;
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}
.product-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    button {
      margin-left: .2rem;
    }
  }
  button {
    background: transparent;
    border: 1px solid #ffff;
    color: var(--mainText);
    font-size: 12px;
    padding: 0.4rem 0.6rem;
  }
}
/* end products */
